/*
  ========================================
  Imports
  ========================================
*/
@import url('https://fonts.googleapis.com/css?family=Abel|Karla');

/*
  ========================================
  General
  ========================================
*/

* {
  padding: 0;
  margin: 0;
}
html {
  min-height: 100%;
}
body {
  margin-top: 60px;
  background: lightblue; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(right top, #e9cfc4, #858fba); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom left, #e9cfc4, #858fba); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom left, #e9cfc4, #858fba); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom left, #e9cfc4, #858fba); /* Standard syntax */
  font-family: 'Abel', sans-serif;
}

/*
  ========================================
  Fonts
  ========================================
*/

#city {
  font-family: 'Karla', sans-serif;
  font-size: 4rem;
}

#weeklySummary {
  margin-top: 30px;
}

.data {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: black;
  z-index: 3;
  padding: 0 10px; /* top - sides */
}

.data .degrees {
  margin-top: 10px;
  font-size: 2.8rem;

}

.data .date {
  font-size: 1.5rem;
}

.data .weatherType {
  font-weight: bold;
}

.sunny .data {
  color: rgb(37, 37, 37);
}

.pullDown {
  opacity: 0;
  transition: all ease-in-out 0.3s;
}
.pullDown h4 {
  font-size: 1.3rem;
}
.pullDown h4.summary {
  font-size: 1.6rem;
  font-weight: bold;
}

.pullDown .heading {
  font-size: 1.7rem;
  font-style: italic;
  padding-bottom: 0;
}

.poweredBy {
  font-style: italic;
  display: none;
  opacity: 0;
  margin-top: 40px;
}
.poweredBy .text-powered {
  color: rgb(94, 6, 19);
  text-decoration: none;
  transition: all ease-in-out .3s;
}
.poweredBy .text-powered:hover {
  color: rgb(38, 2, 7);
}

/*
  ========================================
  City - Section
  ========================================
*/
#city input {
  background: none;
  border-style: none none solid none;
  padding: 10px;
}

#city input:focus {
  outline: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgb(99, 98, 98);

}
::-moz-placeholder { /* Firefox 19+ */
  color: rgb(99, 98, 98);
  text-align: center;
}
:-ms-input-placeholder { /* IE 10+ */
  color: rgb(99, 98, 98);
  text-align: center;
}
:-moz-placeholder { /* Firefox 18- */
  color: rgb(99, 98, 98);
  text-align: center;
}

#weeklySummary {
  opacity: 0;
}

/*
  ========================================
  Cards - Section
  ========================================
*/

.card {
  margin-bottom: 30px;
}

.forecast {
  margin-top:100px;
  position: relative;
}

.forecastDay {
  position: relative;
  height: 400px;
  display:block;
  margin: auto;
  width: 263px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 3px 20px 5px rgba(0,0,0,0.39);
  -moz-box-shadow: 0px 3px 20px 5px rgba(0,0,0,0.39);
  box-shadow: 0px 3px 20px 5px rgba(0,0,0,0.39);
  overflow: hidden;
}

/*
  ========================================
  Cards - Individual Styles
  ========================================
*/

.rain {
  background: lightblue; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(bottom, #141e30, #243b55); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(top, #141e30, #243b55); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(top, #141e30, #243b55); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to top, #141e30, #243b55); /* Standard syntax */
}

.cloudy {
  background: #283048; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(bottom, #283048, #859398); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(top, #283048, #859398); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(top, #283048, #859398); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to top, #283048, #859398); /* Standard syntax */
}

.sunny {
  background: #cdeef6; /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(#d6f1f7, #bdebf6); /* For Safari 5.1 to 6.0 */
  background: -o-radial-gradient(#d6f1f7, #bdebf6); /* For Opera 11.1 to 12.0 */
  background: -moz-radial-gradient(#d6f1f7, #bdebf6); /* For Firefox 3.6 to 15 */
  background: radial-gradient(#d6f1f7, #bdebf6); /* Standard syntax */
}

.windy {
  background: rgb(150,213,242); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(150,213,242,1) 1%, rgba(94,217,242,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(150,213,242,1) 1%,rgba(94,217,242,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(150,213,242,1) 1%,rgba(94,217,242,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

/*
  ========================================
  Animations - General
  ========================================
*/
/* Scale effect - Cards */
.card {
  display: none;
  opacity: 0;
}

/* Hover effect - Cards */
.forecastDay:hover {
  transform: scale(1.1);
  cursor: pointer;
  box-shadow: none;
  -webkit-box-shadow: 0px 3px 20px 5px rgba(0,0,0,0.39);
  -moz-box-shadow: 0px 3px 20px 5px rgba(0,0,0,0.39);
  box-shadow: 0px 3px 20px 5px rgba(0,0,0,0.39);
}
.forecastDay {
  transition: all ease-in-out 0.3s;
}
/*
  ========================================
  Media styles
  ========================================
*/
