/*
  ========================================
  Cloudy
  ========================================
*/
/* CLOUDS */
/* Cloud 1 */

.clouds .cloud1, .sun {
  transition: all ease-in-out 0.3s;
}

.cloudy .clouds .cloud1 {
  position: relative;
  background: rgb(237, 235, 235);
  width: 350px;
  height: 200px;
  left: -60px;
  top: -140px;
  -moz-border-radius: 70px / 80px;
  -webkit-border-radius: 70px / 80px;
  border-radius: 70px / 80px;
  z-index: 2
}

.cloudy .clouds .cloud1:after, .cloudy .clouds .cloud1:before {
	content: '';
	position: absolute;
  background: rgb(237, 235, 235);
}

.cloudy .clouds .cloud1:after {
	width: 200px; height: 200px;
  right: 150px;
  top: 10px;
	-webkit-border-radius: 100px / 60px;
	-moz-border-radius: 100px / 60px;
  border-radius: 100px / 60px;
}
.cloudy .clouds .cloud1:before {
	width: 200px; height: 200px;
  right: 50px;
  top: 10px;
	-webkit-border-radius: 100px / 60px;
	-moz-border-radius: 100px / 60px;
  border-radius: 100px / 60px;
}

/* Cloud 2 */
.cloudy .clouds .cloud2 {
  z-index: 0;
  position: relative;
  background: rgb(203, 199, 199);
  width: 350px;
  height: 200px;
  left: -60px;
  top: -320px;
  -moz-border-radius: 70px / 80px;
  -webkit-border-radius: 70px / 80px;
  border-radius: 70px / 80px;
  z-index: 1;
}

.cloudy .clouds .cloud2:after, .cloudy .clouds .cloud2:before {
	content: '';
	position: absolute;
  background: rgb(203, 199, 199)
}

.cloudy .clouds .cloud2:after {
	width: 200px; height: 200px;
  right: 150px;
  top: 5px;
	-webkit-border-radius: 100px / 60px;
	-moz-border-radius: 100px / 60px;
  border-radius: 100px / 60px;
}
.cloudy .clouds .cloud2:before {
	width: 200px; height: 200px;
  right: 50px;
  top: 15px;
	-webkit-border-radius: 80px / 50px;
	-moz-border-radius: 80px / 50px;
  border-radius: 80px / 50px;
}

/* Cloud 3 */
.cloudy .clouds .cloud3 {
  z-index: 0;
  position: relative;
  background: rgb(181, 177, 177);
  width: 350px;
  height: 200px;
  left: -60px;
  top: -490px;
  -moz-border-radius: 70px / 80px;
  -webkit-border-radius: 70px / 80px;
  border-radius: 70px / 80px;
  z-index: 0;
}

.cloudy .clouds .cloud3:after, .cloudy .clouds .cloud3:before {
	content: '';
	position: absolute;
  background: rgb(181, 177, 177);
}

.cloudy .clouds .cloud3:after {
	width: 200px; height: 200px;
  right: 150px;
  top: 10px;
	-webkit-border-radius: 100px / 60px;
	-moz-border-radius: 100px / 60px;
  border-radius: 100px / 60px;
}
.cloudy .clouds .cloud3:before {
	width: 200px; height: 200px;
  right: 50px;
  top: 10px;
	-webkit-border-radius: 100px / 60px;
	-moz-border-radius: 100px / 60px;
  border-radius: 100px / 40px;
}

/*
  ========================================
  Sunny
  ========================================
*/
.sun {
  width: 100px;
  height: 100px;
  background: #e6cf3b;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 29px 8px rgba(230,207,59,1);
}

/*
  ========================================
  Rain
  ========================================
*/
/* Rain */
.rainy {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: -10px;
  background: url(../img/rain.png);
  animation: rain .5s linear infinite;
}

.rainy:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  animation: lighting .s3 linear infinite;
  opacity: 0;
}

@keyframes rain {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 20% 100%;
  }
}

/* Clouds */
/* Cloud 1 */
.rain .clouds .cloud1 {
  position: relative;
  background: rgb(226, 223, 223);
  width: 350px;
  height: 200px;
  left: -60px;
  top: -140px;
  -moz-border-radius: 70px / 80px;
  -webkit-border-radius: 70px / 80px;
  border-radius: 70px / 80px;
  z-index: 2
}

.rain .clouds .cloud1:after, .rain .clouds .cloud1:before {
	content: '';
	position: absolute;
  background: rgb(226, 223, 223);
}

.rain .clouds .cloud1:after {
	width: 150px; height: 180px;
  right: 170px;
  top: 30px;
	-webkit-border-radius: 100px / 60px;
	-moz-border-radius: 100px / 60px;
  border-radius: 100px / 60px;
}
.rain .clouds .cloud1:before {
	width: 200px; height: 200px;
  right: 40px;
  top: 10px;
	-webkit-border-radius: 90px / 60px;
	-moz-border-radius: 90px / 60px;
  border-radius: 90px / 60px;
}

/* Cloud 2 */
.rain .clouds .cloud2 {
  z-index: 0;
  position: relative;
  background: rgb(171, 167, 167);
  width: 350px;
  height: 200px;
  left: -60px;
  top: -320px;
  -moz-border-radius: 70px / 80px;
  -webkit-border-radius: 70px / 80px;
  border-radius: 70px / 80px;
  z-index: 1;
}

.rain .clouds .cloud2:after, .rain .clouds .cloud2:before {
	content: '';
	position: absolute;
  background: rgb(171, 167, 167);
}

.rain .clouds .cloud2:after {
	width: 200px; height: 200px;
  right: 150px;
  top: 20px;
	-webkit-border-radius: 100px / 60px;
	-moz-border-radius: 100px / 60px;
  border-radius: 100px / 80px;
}
.rain .clouds .cloud2:before {
	width: 200px; height: 200px;
  right: 30px;
  top: 25px;
	-webkit-border-radius: 80px / 50px;
	-moz-border-radius: 80px / 50px;
  border-radius: 95px / 50px;
}


/*
  ========================================
  Foggy
  ========================================
*/

/* Clouds */
/* Cloud 1 */
.fog .clouds .cloud1 {
  position: relative;
  background: rgb(226, 223, 223);
  width: 350px;
  height: 200px;
  left: -60px;
  top: -140px;
  -moz-border-radius: 70px / 80px;
  -webkit-border-radius: 70px / 80px;
  border-radius: 70px / 80px;
  z-index: 2
}

.fog .clouds .cloud1:after, .fog .clouds .cloud1:before {
	content: '';
	position: absolute;
  background: rgb(226, 223, 223);
}

.fog .clouds .cloud1:after {
	width: 150px; height: 180px;
  right: 170px;
  top: 30px;
	-webkit-border-radius: 100px / 60px;
	-moz-border-radius: 100px / 60px;
  border-radius: 100px / 60px;
}
.fog .clouds .cloud1:before {
	width: 200px; height: 200px;
  right: 40px;
  top: 10px;
	-webkit-border-radius: 90px / 60px;
	-moz-border-radius: 90px / 60px;
  border-radius: 90px / 60px;
}

/* Cloud 2 */
.fog .clouds .cloud2 {
  z-index: 0;
  position: relative;
  background: rgba(171, 167, 167, 0.5);
  width: 350px;
  height: 600px;
  left: -60px;
  top: -320px;
  -moz-border-radius: 70px / 80px;
  -webkit-border-radius: 70px / 80px;
  border-radius: 70px / 80px;
  z-index: 1;
}

.fog .clouds .cloud2:after, .fog .clouds .cloud2:before {
	content: '';
	position: absolute;
  background: rgba(155, 151, 151, 0.5)
}

.fog .clouds .cloud2:after {
	width: 200px; height: 160px;
  right: 240px;
  bottom: 240px;
	-webkit-border-radius: 100px / 80px;
	-moz-border-radius: 100px / 80px;
  border-radius: 100px / 80px;
}
.fog .clouds .cloud2:before {
	width: 200px; height: 150px;
  right: -50px;
  bottom: 110px;
	-webkit-border-radius: 95px / 80px;
	-moz-border-radius: 95px / 80px;
  border-radius: 100px / 80px;
}

/*
  ========================================
  Windy
  ========================================
*/
/* CLOUDS */
/* Cloud 1 */

.windy .cloud1, .sun {
  transition: all ease-in-out 0.3s;
}

.windy .clouds .cloud1 {
  position: relative;
  background: rgb(250, 250, 250);
  width: 350px;
  height: 200px;
  left: -60px;
  top: -140px;
  -moz-border-radius: 70px / 80px;
  -webkit-border-radius: 70px / 80px;
  border-radius: 70px / 80px;
  z-index: 2
}

.windy .clouds .cloud1:after, .windy .clouds .cloud1:before {
	content: '';
	position: absolute;
  background: rgb(250, 250, 250);
}

.windy .clouds .cloud1:after {
	width: 200px; height: 200px;
  right: 150px;
  top: 10px;
	-webkit-border-radius: 100px / 60px;
	-moz-border-radius: 100px / 60px;
  border-radius: 100px / 60px;
}
.windy .clouds .cloud1:before {
	width: 200px; height: 200px;
  right: 50px;
  top: 10px;
	-webkit-border-radius: 100px / 60px;
	-moz-border-radius: 100px / 60px;
  border-radius: 100px / 60px;
}

/* Cloud 2 */
.windy .clouds .cloud2 {
  z-index: 0;
  position: relative;
  background: rgb(242, 237, 237);
  width: 350px;
  height: 200px;
  left: -60px;
  top: -320px;
  -moz-border-radius: 70px / 80px;
  -webkit-border-radius: 70px / 80px;
  border-radius: 70px / 80px;
  z-index: 1;
}

.windy .clouds .cloud2:after, .windy .clouds .cloud2:before {
	content: '';
	position: absolute;
  background: rgb(242, 237, 237);
}

.windy .clouds .cloud2:after {
	width: 200px; height: 200px;
  right: 150px;
  top: 5px;
	-webkit-border-radius: 100px / 60px;
	-moz-border-radius: 100px / 60px;
  border-radius: 100px / 60px;
}
.windy .clouds .cloud2:before {
	width: 200px; height: 200px;
  right: 50px;
  top: 15px;
	-webkit-border-radius: 80px / 50px;
	-moz-border-radius: 80px / 50px;
  border-radius: 80px / 50px;
}

/* Cloud 3 */
.windy .clouds .cloud3 {
  z-index: 0;
  position: relative;
  background: rgb(232, 230, 230);
  width: 350px;
  height: 200px;
  left: -60px;
  top: -490px;
  -moz-border-radius: 70px / 80px;
  -webkit-border-radius: 70px / 80px;
  border-radius: 70px / 80px;
  z-index: 0;
}

.windy .clouds .cloud3:after, .windy .clouds .cloud3:before {
	content: '';
	position: absolute;
  background: rgb(232, 230, 230);
}

.windy .clouds .cloud3:after {
	width: 200px; height: 200px;
  right: 150px;
  top: 10px;
	-webkit-border-radius: 100px / 60px;
	-moz-border-radius: 100px / 60px;
  border-radius: 100px / 60px;
}
.windy .clouds .cloud3:before {
	width: 200px; height: 200px;
  right: 50px;
  top: 10px;
	-webkit-border-radius: 100px / 60px;
	-moz-border-radius: 100px / 60px;
  border-radius: 100px / 40px;
}


/*
  ========================================
  Snow
  ========================================
*/
/* CLOUDS */
/* Cloud 1 */

.snow .cloud1, .sun {
  transition: all ease-in-out 0.3s;
}

.snow .clouds .cloud1 {
  position: relative;
  background: rgb(250, 250, 250);
  width: 350px;
  height: 200px;
  left: -60px;
  top: -140px;
  -moz-border-radius: 70px / 80px;
  -webkit-border-radius: 70px / 80px;
  border-radius: 70px / 80px;
  z-index: 2
}

.snow .clouds .cloud1:after, .snow .clouds .cloud1:before {
	content: '';
	position: absolute;
  background: rgb(250, 250, 250);
}

.snow .clouds .cloud1:after {
	width: 200px; height: 200px;
  right: 150px;
  top: 10px;
	-webkit-border-radius: 100px / 60px;
	-moz-border-radius: 100px / 60px;
  border-radius: 100px / 60px;
}
.snow .clouds .cloud1:before {
	width: 200px; height: 200px;
  right: 50px;
  top: 10px;
	-webkit-border-radius: 100px / 60px;
	-moz-border-radius: 100px / 60px;
  border-radius: 100px / 60px;
}

/* Cloud 2 */
.snow .clouds .cloud2 {
  z-index: 0;
  position: relative;
  background: rgb(242, 237, 237);
  width: 350px;
  height: 200px;
  left: -60px;
  top: -320px;
  -moz-border-radius: 70px / 80px;
  -webkit-border-radius: 70px / 80px;
  border-radius: 70px / 80px;
  z-index: 1;
}

.snow .clouds .cloud2:after, .snow .clouds .cloud2:before {
	content: '';
	position: absolute;
  background: rgb(242, 237, 237);
}

.snow .clouds .cloud2:after {
	width: 200px; height: 200px;
  right: 150px;
  top: 5px;
	-webkit-border-radius: 100px / 60px;
	-moz-border-radius: 100px / 60px;
  border-radius: 100px / 60px;
}
.snow .clouds .cloud2:before {
	width: 200px; height: 200px;
  right: 50px;
  top: 15px;
	-webkit-border-radius: 80px / 50px;
	-moz-border-radius: 80px / 50px;
  border-radius: 80px / 50px;
}
